body {
    background-color: deepskyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}    
.judul{    
    color: white;
}
.header {
    background: black;
    color: aqua;
}